<!DOCTYPE html>
<html>
    <head>
        <style>
        .content{width:80%;margin:1em auto;}
        </style>
        <link rel="stylesheet" href="css/pure.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>This is zqh á</title>
    </head>

    <body>
        <div class="content" id="game">
            <h1></h1>
            <div class="pure-g">
                <div class="pure-u-1-5">
                    <div id="side"></div>
                </div>

                <div class="pure-u-3-5">
                    <div id="3d"></div>
                </div>

                <div class="pure-u-1-5">
                    <div id="map"></div>
                    <div id="commands">
                        <table>
                            <tr>
                                <td></td>
                                <td><button onclick="Game.forward()">^</button></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><button onclick="Game.rotateLeft()">&lt;</button></td>
                                <td><button onclick="Game.backward()">v</button></td>
                                <td><button onclick="Game.rotateRight()">></button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <script src="js/jquery.js"></script>
        <script src="js/crafty.js"></script>
        <script src="js/three.js"></script>
        <script src="js/lib.js"></script>
<script>
/**
* Game stuff
*/
var Game = {};

// Map
Game.map = null;

// Parameters
Game.size = 10;
Game.lightSize = 1;
Game.lightVar = 0.1;
Game.moveSpeed = 250;

// Texture data
Game.materials = {};
Game._materials = 0;

// Flags
Game.isMoving = false;
Game.isPlaying = false;
Game.debug = false;

// @todo: Should refactor these into a class
Game.player = {};
Game.player.x = 0;
Game.player.y = 0;




Game.render2dMap = function(map) {
    var tile = $("#map").width() / map.width;
    Game.map2dSize = tile;

    Crafty.init(map.width * tile, map.height * tile, "map");
    //Crafty.pixelart(true);
    Crafty.background('#004');

    for (i = 0; i < map.floors.length; ++i) {
        var floor = map.floors[i];

        Crafty.e("2D, Canvas, Color")
              .attr({ x: floor.x * tile, y: floor.y * tile, w: tile - 1, h: tile - 1 })
              .color("#666666");
    }

    for (i = 0; i < map.walls.length; ++i) {
        var wall = map.walls[i];

        Crafty.e("2D, Canvas, Color")
              .attr({ x: wall.x * tile, y: wall.y * tile, w: tile - 1, h: tile - 1 })
              .color("#ffffff");
    }

    //for (i = 0; i < map.objects.length; ++i) {}
    Game.map2dPoint = Crafty.e("2D, Canvas, Color")
                            .attr({ x: map.start.x * tile, y: map.start.y * tile, w: tile - 1, h: tile - 1 })
                            .color("#00ff00");
}


Game._addDebug = function(pos) {
    var mesh = new THREE.Mesh(
        new THREE.SphereGeometry(Game.size / 10, 20, 20),
        new THREE.MeshBasicMaterial({
            color: "#ffffff"
        })
    );
    Game.scene.add(mesh);
    mesh.position.copy(pos);
}

/**
 * Initializes 3d components
 */
Game.init = function() {
    console.info("zqh: initializing");
    Game.initTxt();
};

Game.initTxt = function() { // TODO: This need heavy refactor, to include multiple textures for each category
    // Materials
    var materialList = ["wall", "floor", "sky", "roof"];
    var loader = new THREE.TextureLoader();
    Game._materials = materialList.length;

    ["wall", "floor", "sky", "roof"].forEach(function(el, i, arr) {
        loader.load("img/textures/" + el + "1.png",
            function (texture) { // onLoad
                var material = new THREE.MeshLambertMaterial({map: texture});
                Game.materials[el] = [material];

                // Load finished
                if (--Game._materials == 0) {
                    Game.init3d();
                }
            },

            function (xhr) { //progress
                console.log((xhr.loaded / xhr.total * 100) + "% loaded");
            },

            function (xhr) {
                console.error("An error happened", xhr);
            }
        );
    });
};

Game.init3d = function() {
    // Init components
    console.info("zqh: 3d components");
    var $container = $("#3d");
    Game.scene = new THREE.Scene();
    Game.renderer = new THREE.WebGLRenderer();
    Game.renderer.setSize($container.width(), $container.width() * 0.8);
    //Game.renderer.shadowMap.enabled = true;
    Game.camera = new THREE.PerspectiveCamera(75, 1.2, 1, 150 * Game.size);

    // Light
    console.info("zqh: light");
    Game.light = new THREE.PointLight(0xFFFFFF, Game.lightSize, Game.size * 10);
    Game.scene.add(Game.light);
    Game.lightTween1 = new Tween(Game.light).to({intensity: Game.lightSize + Game.lightVar}, 1200);
    Game.lightTween2 = new Tween(Game.light).to({intensity: Game.lightSize - Game.lightVar}, 1200);
    Game.lightTween1.chain(Game.lightTween2);
    Game.lightTween2.chain(Game.lightTween1);
    Game.lightTween1.start(); //@todo: easing, tween the position

    // Skydome
    console.info("zqh: sky");
    Game.sky = new THREE.Mesh(
        new THREE.SphereGeometry(50 * Game.size, 20, 20, 0, Math.PI * 2, 0.91, 0.65),
        new THREE.MeshBasicMaterial({
            map: Game.materials.sky[0].map,
            side: THREE.DoubleSide
        })
    );

    Game.scene.add(Game.sky);

    // Finish
    $container.append(Game.renderer.domElement);
    console.info("zqh: finished");
};

//TODO: delete previous map
Game.loadMap = function(url) { // url = backend.php/map/2
    // Load a map and render in 2d and 3d
    $.get(url, function(data) {
        Game.map = data.map;
        $("h1").html(data.map.name);
        Game.render2dMap(data.map);
        Game.buildMap(data.map);
        console.info("zqh: map loaded", Game.map);
    });
}


/**
 * Render a map in 3d canvas
 */
Game._buildMesh = function(collection, x, y, z, dy, txt) {
    for (i = 0; i < collection.length; ++i) {
        var item = collection[i];
        var mesh = new THREE.Mesh(new THREE.BoxGeometry(x, y, z), Game.materials[txt][0]); //@todo: change 0 index with a value in item
        mesh.position.x = item.x * Game.size;
        mesh.position.z = item.y * Game.size;
        mesh.position.y = dy;
        mesh.castShadow = true;
        mesh.receiveShadow = true;
        Game.scene.add(mesh);
    }
};
Game.buildMap = function(map) {
    // Render map meshes
    Game._buildMesh(map.floors, Game.size, Game.size / 20, Game.size, -Game.size / 2, "floor");
    Game._buildMesh(map.roofs, Game.size, Game.size / 20, Game.size, Game.size / 2, "roof");
    Game._buildMesh(map.walls, Game.size, Game.size, Game.size, 0, "wall");

    // Render sprites: Pending

    // Set player position. The first object is the starting point.
    Game.camera.position.x = map.start.x * Game.size;
    Game.camera.position.z = map.start.y * Game.size;
    Game.camera.position.y = 0;
    Game.player.x = map.start.x;
    Game.player.y = map.start.y;
};

/**
 * 3d render update
 */
Game.render = function() {
    // Light & skydome in position
    Game.light.position.copy(Game.camera.position);
    Game.sky.position.copy(Game.camera.position);
    Game.renderer.render(Game.scene, Game.camera);
};

/**
 * Begins animation cycle
 */
Game.animate = function() {
    requestAnimationFrame(Game.animate);
    Game.render();
};

/**
 * Collision with an object or wall
 */
Game.checkCollision = function(x, y) {
    return (Game.map.colmap[x][y] == 1);
}

Game._drawArrow = function(origin, dir, length) {
    var length = length * Game.size;
    var hex = 0xffff00;
    var arrowHelper = new THREE.ArrowHelper(dir, origin, lenght, hex);
    Game.scene.add(arrowHelper);
}

/**
 * Player rotations and translations
 */
Game.forward = function() { Game._move(-1); };
Game.backward = function() { Game._move(1); };
Game._move = function(d) {
    if (!Game.isMoving) {
        var x = Game.camera.position.x;
        var z = Game.camera.position.z;
        var vert = Math.round(Math.cos(Game.camera.rotation.y));
        var horz = Math.round(Math.sin(Game.camera.rotation.y));
        var newx = x + d * horz * Game.size;
        var newz = z + d * vert * Game.size;

        var newPx = Game.player.x + d * horz;
        var newPy = Game.player.y + d * vert;

        if (Game.checkCollision(newPx, newPy)) {;
            return;
        } else {
            Game.isMoving = true;
            Game.player.x = newPx;
            Game.player.y = newPy;
            Game.map2dPoint.x = newPx * Game.map2dSize;
            Game.map2dPoint.y = newPy * Game.map2dSize;
            var tw = new Tween(Game.camera.position).to({ x: newx, z: newz }, Game.moveSpeed)
                                                    .onFinish(function() { Game.isMoving = false })
                                                    .start();
        }
    }
};

Game.rotateRight = function() { Game._rotate(-1); };
Game.rotateLeft = function() { Game._rotate(1); };
Game._rotate = function(d) {
    if (!Game.isMoving) {
        Game.isMoving = true;
        var y = Game.camera.rotation.y;
        var tw = new Tween(Game.camera.rotation).to({ y: y + d * (Math.PI / 2) }, Game.moveSpeed)
                                                .onFinish(function() { Game.isMoving = false})
                                                .start();
    }
}

Game.keyboardHandler = function(e) {
    switch (e.keyCode) {
        case 37: // left arrow key
            Game.rotateLeft();
            e.preventDefault();
            break;
        case 38: // up arrow key
            Game.forward();
            e.preventDefault();
            break;
        case 39: // right arrow key
            Game.rotateRight();
            e.preventDefault();
        case 40: // up arrow key
            Game.backward();
            e.preventDefault();
            break;
        default:
            console.log("unmapped_keycode", e.keyCode);
    }
};




/**
 * App entry point
 */
window.onload = function() {
    //3d init
    Game.init();

    // Set keyboard handler
    $(window).keydown(Game.keyboardHandler);
}


</script>

    </body>
</html>