<!DOCTYPE html>
<html>
    <head>
        <style>
        .content{width:80%;margin:1em auto;}
        #{opacity:0;}
        </style>
        <link rel="stylesheet" href="css/pure.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>This is zqh á</title>
    </head>

    <body>
        <div class="content" id="loading">
            <h1>Loading...</h1>
        </div>

        <h1>{{name}}</h1>

        <div class="content" id="game">
            <div class="pure-g">
                <div class="pure-u-1-5">
                    <div id="side"></div>
                </div>

                <div class="pure-u-3-5">
                    <div id="3d"></div>
                </div>

                <div class="pure-u-1-5">
                    <div id="map"></div>
                    <div id="commands">
                        <table>
                            <tr>
                                <td></td>
                                <td><button onclick="Game.forward()">^</button></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><button onclick="Game.rotateLeft()">&lt;</button></td>
                                <td><button onclick="Game.backward()">v</button></td>
                                <td><button onclick="Game.rotateRight()">></button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <script src="js/jquery.js"></script>
        <script src="js/crafty.js"></script>
        <script src="js/three.js"></script>
        <!-- <script src="http://threejs.org/examples/js/controls/TrackballControls.js"></script> -->
        <!--  <script src="js/game.js"></script> -->
<script>
/**
 * 2d stuff
 */
function renderMap(map) {
    var tile = $("#map").width() / map.width;

    Crafty.init(map.width * tile, map.height * tile, "map");
    Crafty.pixelart(true);
    Crafty.background('#004');
    console.log(map);

    for (i = 0; i < map.floors.length; ++i) {
        var floor = map.floors[i];

        Crafty.e("2D, Canvas, Color")
              .attr({ x: floor.x * tile, y: floor.y * tile, w: tile - 1, h: tile - 1 })
              .color("#666666");
    }

    for (i = 0; i < map.walls.length; ++i) {
        var wall = map.walls[i];

        Crafty.e("2D, Canvas, Color")
              .attr({ x: wall.x * tile, y: wall.y * tile, w: tile - 1, h: tile - 1 })
              .color("#ffffff");
    }

    Crafty.e("2D, Canvas, Color")
          .attr({ x: map.warp.start.x * tile, y: map.warp.start.y * tile, w: tile - 1, h: tile - 1 })
          .color("#00ff00");
    Crafty.e("2D, Canvas, Color")
          .attr({ x: map.warp.end.x * tile, y: map.warp.end.y * tile, w: tile - 1, h: tile - 1 })
          .color("#ff00ff");

}



/**
 * 3d stuff
 */
var Game = {};
Game.size = 100;
Game.lightSize = 1;
Game.lightVar = 0.1;
Game.moveSpeed = 250;
Game.moving = false;

/**
 * Initializes 3d components
 */
Game.init3d = function() {
    // Init components
    var $container = $("#3d");
    Game.scene = new THREE.Scene();
    Game.renderer = new THREE.WebGLRenderer();
    Game.renderer.setSize($container.width(), $container.width() * 0.8);
    Game.camera = new THREE.PerspectiveCamera(75, 1.2, 0.1, 10000);
    Game.camera.position.z = 5000;

    //Debug controller
    /* Game.controls = new THREE.TrackballControls(Game.camera);
    Game.controls.rotateSpeed = 1.0;
    Game.controls.zoomSpeed = 1.2;
    Game.controls.panSpeed = 0.8;
    Game.controls.noZoom = false;
    Game.controls.noPan = false;
    Game.controls.staticMoving = true;
    Game.controls.dynamicDampingFactor = 0.3;
    Game.controls.keys = [ 65, 83, 68 ];
    Game.controls.addEventListener('change', Game.render); */

    // Light
    Game.light = new THREE.PointLight(0xFFFFFF, Game.lightSize, Game.size * 10);
    Game.scene.add(Game.light);
    Game.lightTween1 = new Tween(Game.light).to({intensity: Game.lightSize + Game.lightVar}, 1200);
    Game.lightTween2 = new Tween(Game.light).to({intensity: Game.lightSize - Game.lightVar}, 1200);
    Game.lightTween1.chain(Game.lightTween2);
    Game.lightTween2.chain(Game.lightTween1);
    Game.lightTween1.start(); //@todo: easing, tween the position

    // Finish
    $container.append(Game.renderer.domElement);
};

/**
 * Render a map in 3d canvas
 */
Game.loadMap = function(map) {
    // Render map
    for (i = 0; i < map.floors.length; ++i) {
        var floor = map.floors[i];
        var mesh = new THREE.Mesh(
                new THREE.BoxGeometry(Game.size, Game.size / 20, Game.size),
                new THREE.MeshLambertMaterial({
                    map: new THREE.ImageUtils.loadTexture("img/textures/floor1.png") //@todo: preload
                }));
        mesh.position.x = floor.x * Game.size;
        mesh.position.z = floor.y * Game.size;
        mesh.position.y = -Game.size / 2;
        Game.scene.add(mesh);
    }

    for (i = 0; i < map.walls.length; ++i) {
        var wall = map.walls[i];
        var mesh = new THREE.Mesh(
                new THREE.BoxGeometry(Game.size, Game.size, Game.size),
                new THREE.MeshLambertMaterial({
                    map: new THREE.ImageUtils.loadTexture("img/textures/wall1.png") //@todo: preload
                }));
        mesh.position.x = wall.x * Game.size;
        mesh.position.z = wall.y * Game.size;
        mesh.position.y = 0;
        Game.scene.add(mesh);
    }

    // Set player position
    Game.camera.position.x = map.warp.start.x * Game.size;
    Game.camera.position.z = map.warp.start.y * Game.size;
    Game.camera.position.y = 0;
};

/**
 * 3d render update
 */
Game.render = function() {
    Game.light.position.copy(Game.camera.position);
    Game.renderer.render(Game.scene, Game.camera);
};

/**
 * Begins animation cycle
 */
Game.animate = function() {
    requestAnimationFrame(Game.animate);
    //Game.controls.update();
    Game.render();
};

/**
 * Player rotations and translations
 */
Game.forward = function() { Game._move(-1); };
Game.backward = function() { Game._move(1); };
Game._move = function(d) {
    if (!Game.moving) {
        Game.moving = true;
        var x = Game.camera.position.x;
        var z = Game.camera.position.z;
        var vert = Math.round(Math.cos(Game.camera.rotation.y));
        var horz = Math.round(Math.sin(Game.camera.rotation.y));
        var tw = new Tween(Game.camera.position).to({ x: x + d * horz * Game.size,
                                                      z: z + d * vert * Game.size }, Game.moveSpeed)
                                                .onFinish(function() { Game.moving = false})
                                                .start();
    }
};

Game.rotateRight = function() { Game._rotate(-1); };
Game.rotateLeft = function() { Game._rotate(1); };
Game._rotate = function(d) {
    if (!Game.moving) {
        Game.moving = true;
        var y = Game.camera.rotation.y;
        var tw = new Tween(Game.camera.rotation).to({ y: y + d * (Math.PI / 2) }, Game.moveSpeed)
                                                .onFinish(function() { Game.moving = false})
                                                .start();
    }
}

Game.keyboardHandler = function(e) {
    switch (e.keyCode) {
        case 37: // left arrow key
            Game.rotateLeft();
            e.preventDefault();
            break;
        case 38: // up arrow key
            Game.forward();
            e.preventDefault();
            break;
        case 39: // right arrow key
            Game.rotateRight();
            e.preventDefault();
        case 40: // up arrow key
            Game.backward();
            e.preventDefault();
            break;
        default:
            console.log("unmapped_keycode", e.keyCode);
    }
};


/**
 * Utils, helpers and whatnot
 */

/**
 * Tween class
 * @author: Leprosy
 * @created: Apr 6 2016
 */

/**
 * Constructor
 */
function Tween(obj) {
    this.isRunning = false;

    this.endObj = null;
    this.endObjStep = null;

    this.frames = 0;
    this.delay = 0;
    this.obj = obj;
    this.originalObj = {};
    this.chainedTween = null;

    this.onUpdateCall = function() {};
    this.onFinishCall = function() {};
};

Tween.prototype._trKeys = function(obj, call) {
    var keys = Object.keys(obj);

    for (var i in keys) {
        var key = keys[i];

        call(this, key);
    }
}

Tween.prototype._clearTween = function() {
    this.isRunning = false;
    this.endObjStep = null;
    this.frames = 0;
}

/**
 * Sets a new tween for the object
 */
Tween.prototype.to = function(endObj, delay) {
    if (typeof delay == "undefined") {
        delay = 500;
    }

    this._clearTween();
    this.endObj = endObj;
    this.delay = delay;
    return this;
};

/**
 * Chain another tween. Pass a null to clear the chain.
 */
Tween.prototype.chain = function(tween) {
    this.chainedTween = tween;
    return this;
}

/**
 * Sets the update callback
 */
Tween.prototype.onUpdate = function(call) {
    this.onUpdateCall = call;
    return this;
};

/**
 * Sets the finish callback
 */
Tween.prototype.onFinish = function(call) {
    this.onFinishCall = call;
    return this;
};

/**
 * Update one frame
 */
Tween.prototype.update = function() {
    if (this.frames == 0) {
        return false;
    }

    // Frame : update each value with it's step
    this._trKeys(this.endObj, function(tween, key) {
        tween.obj[key] += tween.endObjStep[key];
    });

    // Set final value and finish call. Is there a chained tween?
    if (--this.frames == 0) {
        this._trKeys(this.endObj, function(tween, key) {
            tween.obj[key] = tween.endObj[key];
        });

        this._clearTween();
        this.onFinishCall(this.obj);

        if (this.chainedTween) {
            this.chainedTween.start();
        }
    } else {
        // Just update call
        this.onUpdateCall(this.obj);
    }

    return true;
};

/**
 * Starts the tween
 */
Tween.prototype.start = function() {
    this.isRunning = true;
    var _this = this;

    //First calculation of frames and steps
    if (this.endObjStep == null) {
        this.frames = (this.delay / 1000) * 60;
        this.endObjStep = {};

        this._trKeys(this.endObj, function(tween, key) {
            if (key in tween.obj) {
                tween.endObjStep[key] = (tween.endObj[key] - tween.obj[key]) / tween.frames;
            } else {
                delete tween.endObj[key];
            }
        });
    }

    var _tween = function () {
        if (!_this.isRunning) {
            return;
        }

        if (_this.update()) {
            requestAnimationFrame(_tween);
        }
    };

    _tween();
    return this;
};

/**
 * Stops the tween
 */
Tween.prototype.stop = function() {
    this.isRunning = false;
    return this;
};


/**
 * App entry point
 */
window.onload = function() {
    //3d init
    Game.init3d();
    Game.animate();

    // Load a map and render in 2d and 3d
    $.get("backend.php/map/8", function(data) {
        renderMap(data.map);
        Game.loadMap(data.map);
    });

    // Set keyboard handler
    $(window).keydown(Game.keyboardHandler);

    // Show game screen
    $("#loading").fadeOut(2000, function() {
        $("#game").fadeIn();
    });
}


</script>

    </body>
</html>