<!DOCTYPE html>
<html>
    <head>
        <style>
        </style>
        <meta charset="UTF-8">
        <title>zqh</title>
    </head>

    <body>
    	<h1>{{name}}</h1>
        <div id="game"></div>
        <div id="3d"></div>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="js/components.js"></script>
        <script src="js/utils.js"></script>
        <script src="js/crafty.js"></script>
        <script src="http://threejs.org/build/three.min.js"></script>
        <!--  <script src="js/game.js"></script> -->
<script>
function renderMap(map) {
    var tile = 4;

    Crafty.init(map.width * tile, map.height * tile, 'game');
    Crafty.background('#004');
    console.log(map);

    for (i = 0; i < map.floors.length; ++i) {
        var floor = map.floors[i];

        Crafty.e("2D, Canvas, Color")
              .attr({ x: floor.x * tile, y: floor.y * tile, w: tile - 1, h: tile - 1 })
              .color("#666666");
    }

    for (i = 0; i < map.walls.length; ++i) {
        var wall = map.walls[i];

        Crafty.e("2D, Canvas, Color")
              .attr({ x: wall.x * tile, y: wall.y * tile, w: tile - 1, h: tile - 1 })
              .color("#ffffff");
    }

    Crafty.e("2D, Canvas, Color")
          .attr({ x: map.warp.start.x * tile, y: map.warp.start.y * tile, w: tile - 1, h: tile - 1 })
          .color("#00ff00");
    Crafty.e("2D, Canvas, Color")
          .attr({ x: map.warp.end.x * tile, y: map.warp.end.y * tile, w: tile - 1, h: tile - 1 })
          .color("#ff00ff");
}

window.onload = function() {
    $.get("backend.php/map/8", function(data) {
        renderMap(data.map);
    });
}

</script>

    </body>
</html>